@import 'variables';

// The original element
.#{$pre} {
  position: relative;
  overflow: hidden;
  z-index: inherit;
}

// The two wrappers created inside the original element
.#{$pre}-waves,
.#{$pre}-wrap {
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// The container for our waves effect
.#{$pre}-waves {
  position: absolute;
  pointer-events: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;
}

// The container for the original element's original content
.#{$pre}-wrap {
  position: relative;
  z-index: 1;
}

// Alternate z-index
.#{$pre}-swap {
  // Put waves behind
  .#{$pre}-waves {
    z-index: 1;
  }
  // Put content on top
  .#{$pre}-wrap {
    z-index: 2;
  }
}

// All types of wave element
.#{$pre}-click,
.#{$pre}-hover,
.#{$pre}-focus {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: all $duration ease;
}

// The wave element for the click effect
.#{$pre}-click {
  background: $wave-click-start-bg;
  opacity: $wave-click-start-opacity;

  // The class to spread the wave out
  &.#{$pre}-click-out {
    transform: translate(-50%, -50%) scale(1);
    background: $wave-click-end-bg;
    opacity: $wave-click-end-opacity;
  }

  // The class to fade an element out
  &.#{$pre}-hide {
    opacity: 0;
  }
}

// The wave element for the hover effect
.#{$pre}-hover {
  background: $wave-hover-start-bg;
  opacity: $wave-hover-start-opacity;

  // The class to spread the wave out
  &.#{$pre}-hover-out {
    transform: translate(-50%, -50%) scale(1);
    background: $wave-hover-end-bg;
    opacity: $wave-hover-end-opacity;
  }
}

// The wave element for the focus effect
.#{$pre}-focus {
  background: $wave-focus-start-bg;
  opacity: $wave-focus-start-opacity;

  // The class to spread the wave out
  &.#{$pre}-focus-out {
    transform: translate(-50%, -50%) scale(1);
    background: $wave-focus-end-bg;
    opacity: $wave-focus-end-opacity;
  }
}
